<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiprof.portal.mapper.HomeMapper">

    <select id="getBannerList" resultType="com.hiprof.portal.domain.Banner">
        select id,title,image_url,link_url,description,position,order_index,start_time,end_time,click_count,view_count,update_time,create_time from banners
    </select>


</mapper>